/* Message Box */
.message-box {
	--color-message-box: #e6ffed;

	display: block;
	background-color: var(--color-message-box);
	color: var(--color-gray-90);
	padding: 1em; 
	border-radius: 0.5em;
}
.message-box ol {
	margin-top: 0;
}



@media (prefers-color-scheme: dark) {
	.message-box {
		--color-message-box: #013f31;
	}
}
