---
layout: layouts/base.njk
eleventyNavigation:
  key: Notes
  order: 2
---
<h1>Trang's Notes</h1>
{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
	<p>Think of this as my mind garden. The entries on this page aren't all complete thoughts. It's a space for me to post what I like and revisit it when I feel like it. </p>
</div>

{% set postslist = collections.notes %}
{% include "postslist.njk" %} 