---
layout: layouts/base.njk
eleventyNavigation:
  key: Portfolio
  order: 3
---
<h1>Portfolio</h1>
{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
	<p>Selected projects I've worked on, showcasing my approach to design and problem-solving across different domains. You can see more in this <a href="/https://trang-vu.notion.site/141a20a912114958b81a5869916cf9cb?v=7046a53bc0714379ab15bdabbb766028" target="_blank" rel="noopener noreferrer">public Notion page</a></p>
</div>

{% set projectslist = collections.projects %}
{% include "projectslist.njk" %} 