---
layout: layouts/base.njk
title: Portfolio
icon: pencil-ruler
eleventyNavigation:
  key: Portfolio
  order: 3
---
{%- css %}{% include "public/css/portfolio.css" %}{% endcss %}
{%- set headerTitle = "Trang's portfolio" %}
{%- set headerSubtitle = 'Selection showcasing my approach to problem-solving across different domains.' %}
{% include "page-header.njk" %}

<div class="portfolio-page">
	{% set projectslist = collections.projects %}
	{% include "projectslist.njk" %}
</div> 